[submodule "clay"]
	path = external/clay
	url = https://github.com/nicbarker/clay.git
                                                                   
[submodule "raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
